.modal-form {
    background-color: var(--sb-white);
    display: flex;
    flex-flow: column;
    overflow: hidden;
    border-radius: 5px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: min(400px, 68%);
    height: 60%;
    padding: 40px;
    animation: grow .5s ease-in-out;
}

.modal-form textarea[name="description"] {
    width: 90%;
    min-height: 200px;
    padding: 5%;
    resize: none;
    border-radius: 5px;
    transition: all .2s;
}

.modal-form textarea[name="description"]:focus {
    border-color: var(--sb-light-blue);
    border-width: 3px !important;
    padding: calc(5% - 2px);
}

.modal input:focus {
    border-color: var(--sb-light-blue);
    border-width: 3px !important;
    padding: calc(2% - 2px) !important;
}

.form-container {
    gap: 20px;
    color: var(--sb-light-blue);
    width: 90%;
    padding: 5%;
}

.form-container h2 {
    font-size: 2.1em;
}

#edit-container, #admin-container, #write-review {
    color: var(--sb-light-blue);
    align-items: center;
}

.form-buttons {
    gap: 10px;
    width: 100%;
}

.form-buttons .btn {
    border-color: var(--sb-light-blue);
    color: var(--sb-light-blue);
}

#admin-container input, #write-review input {
    padding: 2%;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    font-size: 1em;
}

#write-review input[type="number"] {
    width: 20%;
}
