.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    height: var(--header-height);
    width: 100%;
    max-width: 100%;
    position: fixed;
    z-index: 200;
    opacity: 1;
    box-shadow: 0 0 10px black;
    background-color: inherit;
}

.header-buffer {
    height: var(--header-height);
    width: 100%;
}

#header-main {
    height: 100%;
    padding: 0 20px;
    cursor: pointer;
}

#header-main h1 {
    font-size: 2.1em;
    font-family: Yellowtail, sans-serif;
    font-weight: 200;
}

#header-logo {
    min-width: 40px;
    width: auto;
    height: calc(var(--header-height) - 10px);
    margin: 0 15px;
}

#header-nav {
    height: 100%;
    margin-right: 20px;
}

@media only screen and (max-width: 768px) {
    #header-nav {
        display: none;
    }
}

#header-nav a{
    height: 100%;
}

.nav-item {
    width: 150px;
    height: 100%;
    cursor: pointer;
    transition: background-color .3s, color .3s;
}

.nav-item:hover {
    color: var(--sb-black);
    background-color: var(--sb-white);
}

.nav-item:active {
    background-color: rgba(255, 255, 255, 1);
}

#nav-menu {
    --nav-menu-bar-height: calc(var(--header-height) / 8);
    --nav-menu-height: calc(var(--nav-menu-bar-height) * 3);
    width: calc(var(--nav-menu-bar-height) * 5);
    height: var(--nav-menu-height);
    margin: var(--nav-menu-height) var(--nav-menu-height);
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    display: none;
}

#nav-menu span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: white;
    border-radius: 4px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

#nav-menu span:nth-child(1) {top: 0;}
#nav-menu span:nth-child(2),#nav-menu span:nth-child(3) {top: 12px;}
#nav-menu span:nth-child(4) {top: 24px;}
#nav-menu.open span:nth-child(1) {top: 18px;width: 0;left: 50%;}
#nav-menu.open span:nth-child(2) {transform: rotate(45deg);}
#nav-menu.open span:nth-child(3) {transform: rotate(-45deg);}
#nav-menu.open span:nth-child(4) {top: 18px;width: 0;left: 50%;}

@media only screen and (max-width: 769px) {
    #nav-menu {
        display: block;
    }
}

