:root {
    --sb-red: #98111E;
    --sb-black: #564e58;
    --sb-dark-blue: #0b2141;
    --sb-light-blue: #6494aa;
    --sb-blue: #4b7080;
    --sb-tan: #ffb07b;
    --sb-yellow: #c99601;
    --sb-orange: #e24e1b;
    --sb-white: #f2efe9;
    --header-height: 60px;
    --loudness-width: 0;
    --comfort-width: 0;
    --natlight-width: 0;
    --outlet-width: 0;
}

body {
    margin: 0;
    font-family: "Outfit", "Yellowtail", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dark-mode {
    --inverted-bg-color: var(--sb-white);
    --inverted-bg-rgba: rgba(242, 239, 233, .8);
    --inverted-text-color: var(--sb-dark-blue);
    --reg-bg-color: var(--sb-dark-blue);
    --reg-bg-rgba: rgba(11, 33, 65, .4);
    --reg-bg-rgba-header: rgba(11, 33, 65, .8);
    --icon-filter: invert(100%) sepia(2%) saturate(5756%) hue-rotate(298deg) brightness(103%) contrast(89%);;
    --inverted-filter: invert(10%) sepia(34%) saturate(2988%) hue-rotate(194deg) brightness(88%) contrast(96%);
    background-color: var(--sb-dark-blue);
    color: var(--sb-white);
}

.light-mode {
    --inverted-bg-color: var(--sb-light-blue);
    --inverted-bg-rgba: rgba(11, 33, 65, .75);
    --inverted-text-color: var(--sb-white);
    --reg-bg-color: var(--sb-white);
    --reg-bg-rgba: rgba(242, 239, 233, .6);
    --reg-bg-rgba-header: rgba(242, 239, 233, .8);
    --icon-filter: invert(39%) sepia(27%) saturate(540%) hue-rotate(153deg) brightness(96%) contrast(86%);
    --inverted-filter: invert(100%) sepia(2%) saturate(5756%) hue-rotate(298deg) brightness(103%) contrast(89%);;;
    background-color: var(--sb-white);
    color: var(--sb-blue);
}

.blur {
    backdrop-filter: blur(2px);
    background-color: var(--inverted-bg-rgba);
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-family: Outfit, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}
a:active { text-decoration: none; }
a:visited {
    text-decoration: none;
    color: inherit;
}
a:link { text-decoration: none; }

.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}

.d-flex {display: flex; align-items: center;}
.f-col {flex-flow: column;}
.jc-sb {justify-content: space-between;}
.jc-fs {justify-content: flex-start;}
.jc-fe {justify-content: flex-end;}
.jc-c {justify-content: center;}

.d-flex-row-l {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.d-flex-row-c {
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-flex-col-l {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column;
}

.d-flex-col-c {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

textarea:focus, input:focus{
    outline: none;
}

.btn {
    min-width: 90px;
    height: 40px;
    font-family: Outfit, sans-serif;
    border-radius: 5px;
    border-color: var(--inverted-bg-color);
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    padding: 0 20px;
    font-size: 1em;
}

.grid-4 {grid-column: span 4;}
.grid-6 {grid-column: span 6;}
.grid-8 {grid-column: span 8;}
.grid-12 {grid-column: span 12;}

.line {
    width: 50px;
    height: 2px;
    background-color: var(--inverted-bg-color);
    margin: 3px 0 6px 0;
}

.black {background-color: black !important;}
.yellow {background-color: var(--sb-yellow) !important;}
.light-blue {background-color: var(--sb-light-blue) !important;}
.thick {height: 5px !important;}
.thin {height: 1px !important;}
.full-length {width: 100% !important;}

.fs-buffer {
    height: 100vh;
    width: 80%;
}

.icon {
    filter: var(--icon-filter);
    margin-right: 5px;
}
.invert-icon {filter: var(--inverted-filter) !important;}
.white-icon {--icon-filter: invert(100%) sepia(2%) saturate(5756%) hue-rotate(298deg) brightness(103%) contrast(89%) !important;}
.xs-icon {width: 22px;}
.sm-icon {width: 26px;}
.md-icon {width: 32px;}
.lg-icon {width: 40px;}
.xl-icon {width: 48px;}

textarea {
    max-width: 100%;
    max-height: 100%;
    font-family: Outfit, sans-serif;
}

@media only screen and (max-width: 768px) {
    #header-nav {
        display: none !important;
    }

    #home-menu {
        text-align: center;
    }

    .home-intro h1 {
        font-size: 3em !important;
    }

    .typewriter {
        --home-typewriter-width: 290px !important;
        --carat-width: 5px !important;
        --carat-padding: 10px !important;
        height: 40px !important;
    }

    #location-header {height: calc(100vw) !important;}
    #location-aside {display: none !important;}

    .form-container h2 {font-size: 1.5em !important;}
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .home-intro h1 {
        font-size: 6em !important;
    }

    .typewriter {
        --home-typewriter-width: 560px !important;
        --carat-width: 10px !important;
        --carat-padding: 15px !important;
        height: 90px !important;
    }
}


@font-face {
    font-family: Outfit;
    font-weight: 100 900;
    src: url("../../media/fonts/Outfit/Outfit-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: Yellowtail;
    src: url("../../media/fonts/Yellowtail/Yellowtail-Regular.ttf") format("truetype");
}

@font-face {
    font-family: College;
    src: url("../../media/fonts/College/college.ttf") format("truetype");
}
