:root {
    --sb-red: #98111E;
    --sb-black: #564e58;
    --sb-blue: #6494aa;
    --sb-dark-blue: #4b7080;
    --sb-tan: #ffb07b;
    --sb-orange: #e24e1b;
    --sb-white: #f2efe9;
    --header-height: 60px;
}

body {
    margin: 0;
    font-family: "Outfit", "Yellowtail", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dark-mode {
    background-color: var(--sb-black);
    color: var(--sb-white);
}

.light-mode {
    background-color: var(--sb-white);
    color: var(--sb-dark-blue);
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-family: Outfit, sans-serif;
}

a { text-decoration: none; }
a:active { text-decoration: none; }
a:visited {
    text-decoration: none;
    color: inherit;
}
a:link { text-decoration: none; }

.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}

.d-flex-row-c {
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-flex-col-l {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column;
}

textarea:focus, input:focus{
    outline: none;
}

.grid-4 {grid-column: span 4;}
.grid-6 {grid-column: span 6;}
.grid-8 {grid-column: span 8;}
.grid-12 {grid-column: span 12;}

.line {
    width: 50px;
    height: 2px;
    background-color: white;
    margin: 3px 0 6px 0;
}

.black {background-color: black !important;}
.thick {height: 4px !important;}


@font-face {
    font-family: Outfit;
    font-weight: 100 900;
    src: url("../../media/fonts/Outfit/Outfit-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: Yellowtail;
    src: url("../../media/fonts/Yellowtail/Yellowtail-Regular.ttf") format("truetype");
}