.search-container {
    padding-top: var(--header-height);
    padding-left: 20px;
    padding-right: 20px;
}

.search-header {
    padding-left: 29%;
    padding-top: 50px;
    font-size: 2em;
}

.search-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: var(--header-height);
    min-height: 100vh;
}

.filter-column {
    width: 25%;
    position: sticky;
    align-self: flex-start;
    top: var(--header-height);
    padding: 30px;
    text-align: left;
}

.results-column {
    width: 75%;
    background-color: white;
    color: var(--sb-yellow);
    padding: 30px;
    text-align: center;
}

.results-list {
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 5%;
    background-color: var(--inverted-bg-color);
    color: var(--inverted-text-color);
    height: 200px;
}

.dropdown-container {
    color: black;
    padding-top: 15px;
}

.spotimg {
    max-width: 25%;
    display: flex;
}

.spotinfo {
    width: 75%;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
}

.ratingNL {
  padding-top: 15px;
  display: flex;
}

.ratingNL input {
  position: absolute;
  left: -100vw;
}

.ratingNL label {
  width: 48px;
  padding: 24px 0 0 0;
  color: var(--inverted-text-color);
  background: url('stars.svg') no-repeat top left;
}

.ratingNL:not(:hover) input:indeterminate + label,
.ratingNL:not(:hover) input:checked ~ input + label,
.ratingNL input:hover ~ input + label{
  background-position : -48px 0;
}

.ratingNL:not(:hover) input:focus-visible + label{
  background-position : -96px 0;
}

.ratingSC {
  padding-top: 15px;
  display: flex;
}

.ratingSC input {
  position: absolute;
  left: -100vw;
}

.ratingSC label {
  width: 48px;
  padding: 24px 0 0 0;
  color: var(--inverted-text-color);
  background: url('stars.svg') no-repeat top left;
}

.ratingSC:not(:hover) input:indeterminate + label,
.ratingSC:not(:hover) input:checked ~ input + label,
.ratingSC input:hover ~ input + label {
  background-position : -48px 0;
}

.ratingL {
  padding-top: 15px;
  display: flex;
}

.ratingL input {
  position: absolute;
  left: -100vw;
}

.ratingL label {
  width: 48px;
  padding: 24px 0 0 0;
  color: var(--inverted-text-color);
  background: url('stars.svg') no-repeat top left;
}

.ratingL:not(:hover) input:indeterminate + label,
.ratingL:not(:hover) input:checked ~ input + label,
.ratingL input:hover ~ input + label{
  background-position : -48px 0;
}

.ratingL:not(:hover) input:focus-visible + label{
  background-position : -96px 0;
}

.ratingO {
  padding-top: 15px;
  display: flex;
}

.ratingO input {
  position: absolute;
  left: -100vw;
}

.ratingO label {
  width: 48px;
  padding: 24px 0 0 0;
  color: var(--inverted-text-color);
  background: url('stars.svg') no-repeat top left;
}

.ratingO:not(:hover) input:indeterminate + label,
.ratingO:not(:hover) input:checked ~ input + label,
.ratingO input:hover ~ input + label{
  background-position : -48px 0;
}

.ratingO:not(:hover) input:focus-visible + label{
  background-position : -96px 0;
}

.slide-containerGS {
  padding-top: 15px;
  display: flex;
}

.sliderGS {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: white;
  outline: none;
}

.sliderGS::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--sb-yellow);
}

.slide-containerC {
  padding-top: 15px;
}

.sliderC {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: white;
  outline: none;
}

.sliderC::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--sb-yellow);
}

.basic-multi-select {
  width: 100%;
}

.features-container {
  padding-top: 15px;
  padding-bottom: 15px;
}
