.search-container {
    padding-top: var(--header-height);
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.search-header {
    padding-top: 50px;
    font-size: 2em;
}

.search-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: var(--header-height);
    min-height: 100vh;
}

.filter-column {
    width: 25%;
    position: sticky;
    align-self: flex-start;
    top: var(--header-height);
    padding: 30px;
    text-align: left;
}

.results-column {
    width: 75%;
    background-color: white;
    color: var(--sb-yellow);
    padding: 30px;
    text-align: center;
}

.results-list {
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 5%;
    background-color: var(--inverted-bg-color);
    color: var(--inverted-text-color);
    height: 200px;
}

.dropdown-container {
    color: black;
}

.spotimg {
    max-width: 25%;
    display: flex;
}

.spotinfo {
    width: 75%;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
}

.rating {
    padding-top: 15px;
    display: flex;
}

.rating input {
    position: absolute;
    left: -100vw;
}

.rating label {
    width: 48px;
    padding: 24px 0 0 0;
    color: var(--inverted-text-color);
    background: url('stars.svg') no-repeat top left;
}

.rating:not(:hover) input:indeterminate + label,
.rating:not(:hover) input:checked ~ input + label,
.rating input:hover ~ input + label{
    background-position : -48px 0;
}

.rating:not(:hover) input:focus-visible + label{
    background-position : -96px 0;
}
